<div class="comment">
    <div class="comment-image-container">
      <img src="/assets/user-icon.png" />
    </div>
    <div class="comment-right-part">
      <div class="comment-content">
        <div class="comment-author">{{ comment.username }}</div>
        <div>{{ createdAt }}</div>
      </div>
      <div class="comment-text">{{ comment.body }}</div>
      <div class="comment-actions" *ngIf="userLoggedIn">
        <div
          *ngIf="canReply"
          class="comment-action"
          (click)="
            setActiveComment.emit({
              id: comment.id,
              type: activeCommentType.replying
            })
          "
        >
          Reply
        </div>
      </div>
      <app-comment-form
        *ngIf="isReplying()"
        submitLabel="Reply"
        (handleSubmit)="addComment.emit({ text: $event, parentId: replyId })"
        (handleCancel)="setActiveComment.emit(null)"
      ></app-comment-form>
      <div class="replies" *ngIf="replies.length > 0">
        <app-comment
          *ngFor="let reply of replies"
          [comment]="reply"
          (setActiveComment)="setActiveComment.emit($event)"
          [activeComment]="activeComment"
          (addComment)="addComment.emit($event)"
          [parentId]="comment.id"
          [replies]="[]"
          [userLoggedIn]="userLoggedIn"
        ></app-comment>
      </div>
    </div>
  </div>