<div class="products d-flex" id="wrapper">
    <div id="page-content-wrapper">          
         <div class="container-fluid">
        <infinite-scroll class="container row justify-content-center" (scrolled)="onScroll()">
            <ng-container *ngFor="let item of productsToShow.slice(0,(this.currentPage - 1) * this.itemsPerPage+this.itemsPerPage)">
                <div class="card col-md-2" >
                    <div class="image-container container-fluid">
                        <img src="{{item.imagesPath}}" alt="" class="product-image" routerLink="/details/{{item.id}}">
                        <img src="../../assets/icons/card-cart.png" alt="" class="cart-image" (click)="addToCart(item)">
                    </div>
                    <h5>{{item.title}}</h5>
                    <label><strong>Price:</strong> ${{item.price}}</label>
                </div>
            </ng-container>
        </infinite-scroll>
      </div>
    </div>
    <app-categories (productFilter)="filter($event)"></app-categories>
  </div>

  <ng-container *ngIf="productsToShow.length==0">
    <div class="container1">
        <div class="card1">
            <h5 class="card-title1">No Products</h5>
        </div>
        <div class="center1">
            <img src="..\..\assets\icons\emptyCart.png" alt="">
        </div>
    </div>
</ng-container>