.container-fluid {
  display: flex;
  justify-content: space-between;
}
.d-flex{
  flex: 1;
  display: flex;
  margin-left: 0%;
  margin-right: 0%;
}
.btn{
  padding: 5px;
}
.navbar{
  height: 45px;
}