.container-fluid {
  display: flex;
  justify-content: space-between;
}
.d-flex{
  flex: 1;
  display: flex;
  margin-left: 0%;
  margin-right: 0%;
}
.btn{
  padding: 5px;
}
.navbar{
  height: 45px;
}

@media (max-width: 900px) {
  .navbar-collapse{ 
    top: 45px;
    background-color: blue;
    position:fixed;
    left:0px;
    
  }
}
