<button class="button float" data-bs-toggle="tooltip" data-bs-placement="top" title="Filter products" data-bs-toggle="modal" data-bs-target="#pickerModal" data-bs-whatever="@getbootstrap" ><img src="../../assets/icons/filter.png" width="35" height="35"></button>

<div class="modal fade" id="pickerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filter products</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #filter1Forms="ngForm" class="common-form" (ngSubmit)="filterProducts(filter1Forms)">
          <div class="mb-3">
            <label for="status" class="col-form-label">Status:</label>
            <select name="status" aria-label="Default select example" [(ngModel)]="selectedStatus" class="form-select"  id="status">
              <option *ngFor="let option of options" [ngValue]="option.value" >
                  {{option.label}}
              </option>
          </select>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary"  [disabled]="filter1Forms.invalid" data-bs-dismiss="modal">Filter</button>
            </div>
          </form>

     
    </div>
  </div>
</div>